<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
</head>

<body>
    <div>
        <a>admin panel
        </a>
        <a href="dashboard">Dashboard
        </a>
        <a href="">Administrator
        </a>
        <a href="">layer1
        </a>
        <a href="">layer2
        </a>
        <a href="">layer3
        </a>
    </div>
</body>

</html>